.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    height: 65px;
    z-index: 10;
    border-top: 1px solid rgb(222,226,229);
    background: #fff;
    text-align: center;
}

.bottom-list {
    cursor: pointer;
    display: inline-block;
    width: 30%;
    text-align: center;
    position: relative;
}

.bottom-img {
    width: 26px;
    height: 26px;
    margin: 0 auto;
}

.bottom-img img {
    width: 100%;
}

.bottom-text {
    text-align: center;
    line-height: 11px;
    font-size: 12px;
}