/* Common  */
body,
th,
td,
input,
select,
textarea,
button {
    font-size: 13px;
    color: #3a3a3a;
}

body {
    background: #fff;
    display: block;
}

* {
    box-sizing: border-box;
}

dl,
ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0 none;
    vertical-align: top;
}

form {
    display: block;
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    vertical-align: top;
}


/* Common End */
.header {

    position: absolute;
    right: 200px;
    top: 35px;
}

/* Header Start */

.header_control {
    width: 980px;
    margin: 0 auto;
    position: relative;
    right: 300px;
    z-index: 300;
}

.header_menu {}

.header_menu li:first-of-type {
    padding-right: 0px;
}

.header_menu li {
    float: left;
    padding-left: 30px;
}

.header_menu a {
    position: relative;
    bottom: 15px;
    display: block;
    color: #000;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.main_logo {
    position: relative;
    top: 10px;
    right: 30px;
    width: 70px;
    height: 30px;
    background-size: cover;
}

/* Header End */

/* Container Start */
.filter_top_control {
    width: 100%;
    position: relative;
    margin-bottom: 80px;
}

.filter_top {
    height: 69px;
    border-bottom: 1px solid #e5e5e5;
}

.inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 150px;
}

.filter_select_view {
    position: relative;
    top: 90px;
    right: 410px;
    font-size: 0;
    line-height: 69px;
    margin-left: 50px;


}

.filter_title {
    display: inline-block;
    font-size: 16px;
    color: #909090;
    padding-right: 28px;
    background-image: url(/icon/cafe.png);
    background-size: cover;
    height: 30px;
    width: 10px;
    margin-right: 18px;
    vertical-align: top;
}

.top_arrow_btn {
    position: relative;
    left: 7px;
    top: 6px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 7px;
    box-shadow: none;
    font-weight: 1000;
}

.filter_text {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
    color: #000;
    vertical-align: top;
}

.filter_text_search {
    position: relative;
    right: 252px;
    top: 20px;
    background-image: url(/icon/search_icon.png);
    background-size: cover;
    width: 30px;
    height: 29px;
}

.btn_filter {
    position: absolute;
    right: 0;
    top: 50%;
    padding-right: 22px;
    font-size: 14px;
    color: #909090;
    margin-top: -7px;
    line-height: 14px;
}

.btn_filter span {
    position: relative;
    top: 100px;
    right: 10px;
}

.btn_filter::before {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    background: url(/data/skin/front/mime/img/goods/new/ico_category_cursor2.png) no-repeat 0 0;
    margin-top: -3px;
    transition: all 0.3s ease-out;
}



.filter_bottom {
    background: #f8f8f8;
    border-bottom: 1px solid #e2e2e2;
    padding: 40px 0 30px 0;
}

.filter_title_bottom {
    position: relative;
    top: 220px;
    left: 890px;
    font-size: 14px;
    color: #b9b9b9;
}

.all_filter_dl.all {
    margin-left: 0;
}

.filter_bottom dl {
    display: block;
    font-size: 0;
    margin: 0 0 25px 17px;
}

.filter_bottom dl dt {
    width: 120px;
    display: inline-block;
    font-size: 15px;
    color: #909090;
    font-weight: 400;
}

.filter_bottom dl.all .checkcontainer.on {
    color: #d28521;
}

.filter_bottom dl.all .checkcontainer {
    width: 100px;
    padding: 0 0 0 17px;
    font-size: 14px;
    line-height: 34px;
    margin-right: 0;
    box-sizing: border-box;
}

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.mot3 {
    position: relative;
    left: 285px;
    transition: all 0.3s ease-out;
}

.filter_dl_cate001 dt {
    position: relative;
    right: 200px;
    top: 48px;
}

.filter_dl_cate001 dt p {
    font-size: 24px;
    font-weight: 500;
}

.category_box {
    position: relative;
    right: 210px;
    top: 24px;
    width: 120px;
    height: 33px;
    border: 1px solid #3a3a3a;
    box-shadow: 1px 3px 6px 4px #b9b9b9;
    border-radius: 10px;
}


.checkcontainer input:checked~.checkmark {
    top: 0;
    right: 0;
    width: 100px;
    height: 32px;
}

.checkcontainer span {
    height: 30px;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 1px #b9b9b9;

}

.filter_box .checkcontainer {
    display: inline-block;
    position: relative;
    padding-right: 21px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    line-height: 14px;
    margin-right: 30px;
    -webkit-font-smoothing: antialiased;
}



.btn_select_mot3 {
    position: relative;
    right: 165px;
    width: 190px;
    height: 48px;
    border: 1px solid #000;
    background: #000;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    margin: 50px auto 0;
    display: block;
}

/* Container End */

/* Design Top Start */
/* .design_top {}

.design_top_control {
    position: relative;
    width: 15px;
    height: 15px;
    background-image: url(/icon/been.png);
    background-size: cover;
    left: 150px;

}

.design_top_line {
    position: relative;
    width: 10px;
    height: 10px;
    padding: 10px;
    background: none;
    bottom: 20px;
    left: 150px;

}

.design_top_line:hover {
    transition: 3s;
    transition-duration: infinite;
    transition-timing-function: ease-in-out;
    border-bottom: 2px solid brown;
    width: 1095px;
}

.design_shop {
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(/icon/locataion.png);
    background-size: cover;
    left: 1215px;
    bottom: 50px;

} */

/* Design Line End */

/* Container_list_line Start */

.container_list_line {
    display: flex;
    font-size: 13px;

}

.container_list_line_control {
    position: relative;
    left: 1200px;
    top: 100px;
}

.list_line_review {
    margin-right: 30px;
    font-weight: 650;
}

/* Container_list_line End */

/* Container_list_img Start */

.container_pick_list_img {
    width: 980px;
    margin: 0 auto;
}

/* Container_list_img End */

/* Cotainer_item_list Start */

.cotainer_item_list {
    margin-bottom: 50px;
    width: 100%;
    margin: 0 auto;
}


.container_item_cont_list {
    margin-top: 150px;
    color: #1c1c1c;
    display: flex;
}



.container_item_photo_box_01 {
    margin-left: 150px;
}

.mot01 {
    border: 5px solid black;
    width: 264px;
    height: 264px;
}

.container_item_info_01 {}

/* ---------------------분위기 첫째 라인----------------------- */
.container_item_title_control {
    display: flex;

}

.container_item_info_title {
    position: relative;
    margin-left: 590px;
    bottom: 810px;
}

.container_item_info_title01 {
    position: relative;
    right: 355px;
    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

.container_item_info_title02 {
    position: relative;
    right: 5px;
    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

.container_item_info_title03 {
    position: relative;
    left: 340px;
    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

/* ---------------------분위기 2번째 라인------------------- */

.container_item_title_control_2 {
    display: flex;

}

.container_item_info_title_2 {
    position: relative;
    margin-left: 590px;
    bottom: 410px;
}

.container_item_info_title01_2 {
    position: relative;
    right: 355px;
    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

.container_item_info_title02_2 {
    position: relative;
    right: 5px;

    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

.container_item_info_title03_2 {
    position: relative;
    left: 340px;

    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

/* ---------------------분위기 3번째 라인------------------- */

.container_item_title_control_3 {
    display: flex;

}

.container_item_info_title_3 {
    position: relative;
    margin-left: 590px;
    bottom: 10px;
}

.container_item_info_title01_3 {
    position: relative;
    right: 355px;
    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

.container_item_info_title02_3 {
    position: relative;
    right: 5px;
    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

.container_item_info_title03_3 {
    position: relative;
    left: 340px;
    font-size: 13px;
    color: #7a7a7d;
    font-weight: 500;
}

/* Start Footer */

.footer {
    width: 100%;
    height: 100px;
    position: relative;
    background: #7a7a7d;
    text-align: center;
    color: white;
}