input, textarea, button {
    border-radius: 10px;
    border: 1px solid #999;
    padding: .8em .5em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/static/posts/images/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: right;
}
select::-ms-expand {
    display: none;
}

select {
    margin: 0 10px;
    width: 100px;
    padding: .8em .5em;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid #999;
}

.container{
    margin-top: 80px;
    margin-bottom: 30px;
    width: 100vw;
    line-height: 36px;
}

.form-info{
    margin: 0 auto;
    width: calc(100% - 35px);
    
}

.info-text {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 70px);
    max-width: 825px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
}

.form-theme{
    margin: 0 auto;
    max-width: 825px;
    
}

.form-theme h2 {
    margin: 16px 24px;
    font-size: 16px;
    line-height: 32px;
}

.file-group {
    margin: 0 auto;
    width: calc(100% - 70px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-control-file {
    margin: 8px 0;
}

.form-theme textarea {
    display: block;
    margin: 0 auto;
    width: calc(100% - 70px);
}

.form-row{
    position:relative;
    margin-top: 10px;

}

.form-row input{
    display: flex;
    justify-content: center;
}

.input{
    display: inline-block;
    width: 100%;
    max-width: 325px;
    height: 40px;
    
}

.form-email input {
    width: 145px;
}

#form-email-select{
    width: 325px;
    height: 40px;
    padding: 5px 14px;
}

#cafe{
    width: 600px;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}




.step1{
    padding: 0px;
    margin: 0px;
}


#welcome{
    background-image: none;
}


.btn-signup{
    display: flex;
    justify-content: center;
}


.join-intro-contents{
    position : center;
    display : inline-block;
    transform : translatey(+100%);
    opacity : 1.0;
}


.btn-signup{
    margin-top: 37px;
    text-decoration:none;
    vertical-align:middle;
}

.button.button-primary {
    background: #1a7cff;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 16px 0 14px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.form-row.has-button{
    position: relative;
    padding-right: 106px;
}

#sample6_postcode{
    width: calc(100% - 100px);
    max-width: 220px;
    height: 40px;
    margin-top: 10px;
}

#sample6_postcode_search{
    width: 98px;
    height: 45px;
    margin-top: 10px;
    background-color: #efefef;
}

#sample6_address{
    width: 330px;
    height: 40px;
    margin-top: 10px; 
}

#sample6_detailAddress{
    width: 220px;
    height: 40px;
    margin-top: 10px;
}

#sample6_extraAddress{
    width: 98px;
    height: 40px;
    margin-top: 10px;
}

.btn-wrap {
    text-align: center;
}

.btn-signup{
    background: #af6d40;
    color: #fff;
    width: calc(100% - 70px);
    max-width: 330px;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.open_time{
    display: flex;
}

.open_time p {
    margin-top: 8px;
}

@media (min-width: 600px) {
    .form-info {
        width: fit-content;
    }
    
    .info-text {
        text-align: left;
        font-size: 2em;
    }
    
    .form-theme h2 {
        font-size: 1.5em;
    }
    
    .file-group {
        flex-direction: row;
    }
    
    .form-control-file {
        flex-basis: 33.3%;
    }
}
