#container {
    padding-top: 106px;
}

/* tag */

.tag-bg {
    background-color: #f8f8f8;
    padding: 30px 0;
    position: relative;
    text-align: center;
}

.tag-bg .all {
    color: #909090;
    font-size: 14px;
}

.tag-text {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #b9b9b9;
    font-size: 14px;
}

.tag-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-box {
    display: flex;
    height: 70px;
    padding-left: 8px;
}

.tag-box input {
    flex: 0 1 auto;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    line-height: 20px;
    padding: 10px 13px;
    background-color: #e0e0e0;
    margin: 16px 8px 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: none;
    color: #333;
}

.tag-box input.active {
    font-weight: bold;
    background-color: #af6d40;
    color: #fff;
}

/* filter */

.filter-bg {
	margin-top: 40px;
	margin-bottom: 24px;
	padding-left: 90px;
	padding-right: 90px;
}

.filter-wrap {
	margin-left: -5px;
	margin-right: -5px;
}

.filter-list {
	display: flex;
	flex-wrap: wrap;
}

.filter-item {
	display: flex;
	flex-direction: column;
	flex: none;
	max-width: 25%;
	flex-basis: 25%;
	margin-top: 20px;
	padding: 0 17px;
	box-sizing: border-box;
}

.filter {
	cursor: pointer;
	display: block;
	height: 100%;
	width: 100%;
}

.filter-img {
	flex: auto;
	background-color: #dcdcdf;
    padding-bottom: 66.6667%;
    position: relative;
}

.filter-img img {
	vertical-align: top;
	border-radius: 8px;
	object-fit: cover;
	height: 100%;
	width: 100%;
    position: absolute;
}

.filter-text {
	flex: none;
	flex-basis: 40px;
	min-height: 0;
	margin-top: 10px;
	white-space: normal;
	font-size: 13px;
	line-height: 22px;
	max-height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(34, 34, 34);
	/* white-space: pre-line; */
    font-weight: 400;
}

.info {
    font-weight: 600;
}