
.index-bg {
	background-image: url("../images/m-main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* position: relative; */
	overflow: hidden;
	width: 100%;
	height: 334px;
	display: flex;
	align-items: stretch;
	justify-content: center;
    font-size: 16px;
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.index-bg_text{
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index:9999;
}

.index-bg_text > h2 {
    font-size: 14px;
    color: #333;
}
/* .main-wrap {
	position: relative;
	width: 100%;
	max-width: 1600px;
	display: flex;
	/* height: 100vh; */
	/* min-height: 969px; */
	/* align-items: center;
	justify-content: flex-start;
	margin: 250px 40px 40px; */
} */

.main-content {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	width: 338px;
    padding-left: 16px;
	/* height: auto; */
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: start;
}

.main-text {
	font-size: 24px;
	color: #fff;
	text-align: center;
	font-weight: 800;
	line-height: 27px;
	letter-spacing: -0.02em;
	text-align: start;
}

.main-text span {
	white-space: pre-line;
}

.intro-text {
	flex: 1 1 auto;
}

.intro-text h1 {
	font-size: 26px;
	line-height: 30px;
	color: rgb(255, 255, 255);
	font-weight: 800;
	margin: 0px;
	padding: 0px;
}

.intro-text span {
	width: 440px;
	font-size: 16px;
	line-height: 20px;
	color: rgb(255, 255, 255);
	margin-top: 4px;
	display: block;
}

/* filter */

.filter-bg {
	margin-top: 40px;
	margin-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
    padding-bottom: 40px;
    overflow-x: scroll;
}

.filter-wrap {
	margin-left: -5px;
	margin-right: -5px;
}

.filter-list {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    min-width: 1090px;
}

.filter-item {
	display: flex;
	flex-direction: column;
	flex: none;
	max-width: 25%;
	flex-basis: 25%;
	padding: 0 5px;
	box-sizing: border-box;
}

.filter-item:nth-child(n+5) {
	margin-top: 20px;
}

.filter {
	cursor: pointer;
	display: block;
	height: 100%;
	width: 100%;
}

.filter-img {
    float: left;
    width: 72px;
    height: 72px;
	background-color: #dcdcdf;
    position: relative;
}

.filter-img img {
	vertical-align: top;
	border-radius: 8px;
	object-fit: cover;
	height: 100%;
	width: 100%;
    position: absolute;
}

.filter-text {
    float: left;
	flex-basis: 40px;
	min-height: 0;
    padding-left: 10px;
	white-space: normal;
	font-size: 13px;
	line-height: 72px;
    height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(34, 34, 34);
	/* white-space: pre-line; */
    font-weight: 600;
}

/* recommendation */

.rcmd-bg {
    background-color: #fff;
}

.rcmd-wrap {
    margin-left: 20px;
    padding: 0 0 56px;
}

.rcmd-text {
    margin-top: 5px;
    letter-spacing: -.5px;
    text-align: left;
}

.rcmd-text > h2 {
    font-size: 14px;
    color: #333;
    word-break: break-all;
}

.rcmd-content {
    position: relative;
}

/* cafe */

.cafe-bg {
	margin-top: 40px;
	margin-bottom: 24px;
	padding-left: 90px;
	padding-right: 90px;
}

.cafe-wrap {
	margin-left: -5px;
	margin-right: -5px;
}

.cafe-list {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    padding: 16px 0;
}

.cafe-item {
	flex: none;
	max-width: 100%;
	flex-basis: 100%;
	padding: 0 17px;
	box-sizing: border-box;
}

.cafe-item + .cafe-item {
    margin-top: 8px;
}

.cafe {
	cursor: pointer;
	display: block;
	height: 100%;
	width: 100%;
}

.cafe-content {
	display: flex;
    flex-wrap: wrap;
	flex-direction: row;
}

.cafe-img {
    overflow: hidden;
    width: 112px;
    height: 63px;
    margin-right: 12px;
    position: relative;
}

.cafe-img img {
	vertical-align: top;
	border-radius: 8px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.cafe-text {
	flex: 1;
	padding-left: 12px;
    vertical-align: middle;
}

.cafe-text .info span {
    display: block;
    overflow: hidden;
    font-weight: 400;
    line-height: 16px;
    color: rgb(34, 34, 34);
    text-overflow: ellipsis;
    white-space: normal;
}

.cafe-text .etc {
    margin-top: 8px;
    font-size: 12px;
    color: #999;
    letter-spacing: -1px;
    line-height: 15px;
}

.page-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    height: 0;
}

.page-btn .prev-btn {
    float: left;
    margin-left: -20px;
    width: 35px;
    height: 35px;
}

.page-btn .next-btn {
    float: right;
    margin-right: -20px;
    width: 35px;
    height: 35px;
}

.page-btn img {
    display: block;
}

.info {
    font-weight: 600;
}

/* activity */

.activity-bg {
	margin-bottom: 20px;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.activity-wrap {
	background-color: rgb(0, 0, 0);
	padding: 48px 40px 64px;
	max-width: 1600px;
    min-height: 930px;
    /* height: calc(100vh - 80px); */
}

.activity-intro {
	display: flex;
	margin-bottom: 24px;
}

.activity-link {
	flex: 0 0 auto;
}

.activity-link a {
	cursor: pointer;
	display: inline-block;
	margin: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: auto;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	outline: none;
	padding: 7px 15px;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
	border-color: rgb(255, 255, 255);
	background: transparent;
	color: rgb(255, 255, 255);
}

.activity-content {
	padding-top: 66.6667%;
	position: relative;
}

.activity-box {
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0px;
	overflow: visible;
	padding: 0px;
}

.activity-list {
	display: grid;
	grid-gap: 16px;
	height: 100%;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.activity-item {
	flex: 0 0 auto;
	width: 100%;
}
.activity-item:nth-child(1) {
	grid-area: 1 / 1 / span 2 / auto;
}
.activity-item:nth-child(2) {
	grid-area: 1 / 2 / auto / auto;
}
.activity-item:nth-child(3) {
	grid-area: 2 / 2 / auto / auto;
}

.activity {
	cursor: pointer;
	position: relative;
	border-radius: 0px;
	outline: none;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
	background: transparent;
	border: none;
	display: block;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	height: 100%;
	width: 100%;
}

.activity-img {
	display: inline-block;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
	min-height: 1px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.activity-img img {
	object-fit: cover;
	vertical-align: bottom;
	border-radius: 16px;
	height: 100%;
	width: 100%;
	position: absolute;
}

.activity-text {
	background-color: rgb(34, 34, 34);
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	border-radius: 0px 0px 16px 16px;
	min-height: 76px;
	padding: 16px;
}

.activity-text span {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}

.activity-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 2000;
    display: none;
}

.activity-ready {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 24px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.ready-text {
    padding-top: 60px;
    padding-left: 50px;
    margin-bottom: 100px;
}

.ready-text p {
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: -1px;
    text-align: left;
}

.ready-more::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ready-text .ready-more {
    position: relative;
    padding-left: 14px;
    margin-top: 10px;
    font-weight: normal;
    line-height: 150%;
    font-size: 16px;
}

.close-box {
    padding-top: 40px;
    padding-right: 50px;
    width: 100%;
    height: 100px;
    border-radius: 24px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #fafbff;
    text-align: right;
}

.close-btn {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    height: 28px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -1px;
    font-weight: normal;
    margin-left: 35px;
}

@media (min-width: 600px) {
    .index-bg {
        height: calc(100vh - 144px);
    }
    
    .main-text {
        font-size: 42px;
        line-height: 46px;
    }
    
    .main-content {
        padding-left: 0;
    }
    
    .filter-bg {
        overflow: hidden;
    }
    
    .rcmd-text > h2 {
        display: block;
        font-size: 25px;
        letter-spacing: -2px;
        line-height: 1;
    }
    
    .rcmd-wrap {
        margin: auto;
        padding-top: 60px;
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 90px;
    }
    
    .cafe-list {
        flex-direction: row;
    }
    
    .cafe-item {
        flex-direction: column;
        flex: none;
        max-width: 25%;
        flex-basis: 25%;
        margin-top: 20px;
        padding: 0 17px;
        box-sizing: border-box;
    }
    
    .cafe-item + .cafe-item {
        margin-top: 20px;
    }
    
    .cafe-content {
        display: block;
    }
    
    .cafe-img {
        flex: auto;
        width: auto;
        height: auto;
        margin-right: 0;
        background-color: #dcdcdf;
        padding-bottom: 66.6667%;
    }

    .cafe-img img {
        position: absolute;
    }

    .cafe-text {
        flex: none;
        flex-basis: 40px;
        min-height: 0;
        padding-left: 0;
        margin-top: 10px;
        font-size: 13px;
        line-height: 22px;
        max-height: 44px;
        /* white-space: pre-line; */
    }
}