
/*
#container {
	position: relative;
	width: 1130px;
	padding: 20px 30px;
	margin: 0 auto;
	letter-spacing: -.2px;
}
#container:after {
	content: "";
	display: table;
	table-layout: fixed;
	clear: both;
}
*/

.index-bg {
	background-image: url(https://images.unsplash.com/photo-1553727472-554c565c1d2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	overflow: hidden;
	min-width: 1190px;
	width: 100%;
	height: calc(100vh - 70px);
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.main-wrap {
	position: relative;
	width: 100%;
	max-width: 1600px;
	display: flex;
	/* height: 100vh; */
	/* min-height: 969px; */
	align-items: center;
	justify-content: flex-start;
	margin: 250px 40px 40px;
}

.main-content {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	width: 338px;
	/* height: auto; */
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: start;
}

.main-text {
	font-size: 42px;
	color: #fff;
	text-align: center;
	font-weight: 800;
	line-height: 46px;
	letter-spacing: -0.02em;
	text-align: start;
}

.main-text span {
	white-space: pre-line;
}

.intro-text {
	flex: 1 1 auto;
}

.intro-text h1 {
	font-size: 26px;
	line-height: 30px;
	color: rgb(255, 255, 255);
	font-weight: 800;
	margin: 0px;
	padding: 0px;
}

.intro-text span {
	width: 440px;
	font-size: 16px;
	line-height: 20px;
	color: rgb(255, 255, 255);
	margin-top: 4px;
	display: block;
}

/* tag */

.tag-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

.tag-box {
    display: flex;
    height: 70px;
    padding-left: 8px;
    background-color: #fff;
}

.tag-box input {
    flex: 0 1 auto;
    max-width: 300px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    line-height: 20px;
    padding: 10px 13px;
    background-color: #fff;
    margin: 16px 8px 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: none;
}

.tag-box input.active {
    font-weight: bold;
    border: 1px solid #00df8f;
    background-color: #e9fff6;
    color: #0fae6f;
}

/* filter */

.filter-bg {
	margin-top: 40px;
	margin-bottom: 24px;
	padding-left: 40px;
	padding-right: 40px;
}

.filter-wrap {
	margin-left: -5px;
	margin-right: -5px;
}

.filter-list {
	display: flex;
	flex-wrap: wrap;
}

.filter-item {
	display: flex;
	flex-direction: column;
	flex: none;
	max-width: 14.2857%;
	flex-basis: 14.2857%;
	margin-top: 20px;
	padding: 0 5px;
	box-sizing: border-box;
}

.filter {
	cursor: pointer;
	display: block;
	height: 100%;
	width: 100%;
}

.filter-img {
	flex: auto;
	background-color: #dcdcdf;
    padding-bottom: 66.6667%;
    position: relative;
}

.filter-img img {
	vertical-align: top;
	border-radius: 8px;
	object-fit: cover;
	height: 100%;
	width: 100%;
    position: absolute;
}

.filter-text {
	flex: none;
	flex-basis: 40px;
	min-height: 0;
	margin-top: 10px;
	white-space: normal;
	font-size: 13px;
	line-height: 22px;
	max-height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(34, 34, 34);
	/* white-space: pre-line; */
    font-weight: 600;
}

/* activity */

.activity-bg {
	margin-bottom: 20px;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.activity-wrap {
	background-color: rgb(0, 0, 0);
	padding: 48px 40px 64px;
	max-width: 1600px;
    min-height: 930px;
    height: calc(100vh - 80px);
}

.activity-intro {
	display: flex;
	margin-bottom: 24px;
}

.activity-link {
	flex: 0 0 auto;
}

.activity-link a {
	cursor: pointer;
	display: inline-block;
	margin: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: auto;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	outline: none;
	padding: 7px 15px;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
	border-color: rgb(255, 255, 255);
	background: transparent;
	color: rgb(255, 255, 255);
}

.activity-content {
	padding-top: 66.6667%;
	position: relative;
}

.activity-box {
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0px;
	overflow: visible;
	padding: 0px;
}

.activity-list {
	display: grid;
	grid-gap: 16px;
	height: 100%;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.activity-item {
	flex: 0 0 auto;
	width: 100%;
}
.activity-item:nth-child(1) {
	grid-area: 1 / 1 / span 2 / auto;
}
.activity-item:nth-child(2) {
	grid-area: 1 / 2 / auto / auto;
}
.activity-item:nth-child(3) {
	grid-area: 2 / 2 / auto / auto;
}

.activity {
	cursor: pointer;
	position: relative;
	border-radius: 0px;
	outline: none;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
	background: transparent;
	border: none;
	display: block;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	height: 100%;
	width: 100%;
}

.activity-img {
	display: inline-block;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
	min-height: 1px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.activity-img img {
	object-fit: cover;
	vertical-align: bottom;
	border-radius: 16px;
	height: 100%;
	width: 100%;
	position: absolute;
}

.activity-text {
	background-color: rgb(34, 34, 34);
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	border-radius: 0px 0px 16px 16px;
	min-height: 76px;
	padding: 16px;
}

.activity-text span {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}

#footer {
	background-color: #fafbfc;
	border-top: 1px solid #e4e8eb;
}

#footer .footer-inner {
	width: 1130px;
	padding: 0 30px 92px;
	margin: 0 auto;
	padding-top: 25px;
	/* margin-right: 13px; */
	color: #777;
	font-weight: 700;
	align-items: center;
	text-align: center;
}
