{% load static %}
{% load socialaccount %}
<div class="bottom">
    {% if user.is_authenticated %}
    <a class="bottom-list" href="{% url 'posts:mypage' %}">
        <div class="bottom-img">
            {% if tab and tab == 'profile' %}
            <img src="{% static 'images/profile-on.svg' %}">
            {% else %}
            <img src="{% static 'images/profile.svg' %}">
            {% endif %}
        </div>
        <div class="bottom-text">
            마이페이지
        </div>
    </a>
    {% else %}
    <a class="bottom-list" href="{% url 'accounts:login' %}">
        <div class="bottom-img">
            <img src="{% static 'images/profile.svg' %}">
        </div>
        <div class="bottom-text">
            마이페이지
        </div>
    </a>
    {% endif %}
    <a class="bottom-list" href="{% url 'posts:main' %}">
        <div class="bottom-img">
            {% if tab and tab == 'home' %}
            <img src="{% static 'images/home-on.svg' %}">
            {% else %}
            <img src="{% static 'images/home.svg' %}">
            {% endif %}
        </div>
        <div class="bottom-text">
            홈
        </div>
    </a>
    <a class="bottom-list" href="{% url 'posts:lists' %}">
        <div class="bottom-img">
            {% if tab and tab == 'search' %}
            <img src="{% static 'images/search-on.svg' %}">
            {% else %}
            <img src="{% static 'images/search.svg' %}">
            {% endif %}
        </div>
        <div class="bottom-text">
            카페찾기
        </div>
    </a>
</div>