<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/category.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg==" crossorigin="anonymous" />
</head>
<body>
    <div id="wrap">
        
         <!-- Header Start  -->
        <div class="header">
            <div class="header_control">
                <ul class="header_menu">
                    <li>
                        <a href="#">
                            <img class="main_logo" src="/icon/cofflixLogo.png" alt="logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            shop
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            review
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            cs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            story
                        </a>
                    </li>
                </ul>
            </div>          
        </div>
        <!-- Header End  -->
        
        <!-- Container Start  -->
        <div class="container">
            <div class="filter_box">
                <div class="filter_top_control">
                    <form name="form_list" id="form_list" action="#">
                        <input type="hidden" name="sort" value>
                        <input type="hidden" name="sno" value=8>
                        <input type="hidden" name="search" value=y>
                        <div class="filter_top">
                            <div class="inner">
                                <div class="filter_select_view">
                                    <span class="filter_title">cafe</span>
                                    <button class="top_arrow_btn">></button>
                                    <span class="filter_text">search</span>
                                </div>
                                <div class="filter_text_search"></div>
                                <a href="#" class="btn_filter">
                                    <span>필터닫기</span>
                                </a>
                            </div>
                        </div>
                        <div class="filter_bottom" style="display: block">
                            <div class="inner">
                                <div class="filter_title_bottom">* 카테고리 별로 중복체크가능</div>
                                <dl class="all_filter_dl">
                                    <dt>
                                        <label class="checkcontainer" for="allcategory">
                                            <input type="checkbox" id="allcategory" checked>
                                            <p class="mot3">전체분류</p>
                                            
                                        </label>
                                    </dt>
                                </dl>
                                <dl class="filter_dl_cate001">
                                    <dt><p>Category</p></dt>
                                    <div class="category_box"></div>
                                    <dd>
                                        <label class="checkcontainer" for="category001">
                                            <input type="checkbox" id="category001" name="goodstype[]" value="001" data-cate-nm="시그니처">
                                            <span>#테라스</span>
                                            
                                        </label>
                                        <label class="checkcontainer" for="category002">
                                            <input type="checkbox" id="category002" name="goodstype[]" value="002" data-cate-nm="시그니처">
                                            <span>#드립전문</span>
                                            
                                        </label>
                                        <label class="checkcontainer" for="category003">
                                            <input type="checkbox" id="category003" name="goodstype[]" value="003" data-cate-nm="시그니처">
                                            <span>#로스팅</span>
                                            
                                        </label>
                                        <label class="checkcontainer" for="category004">
                                            <input type="checkbox" id="category004" name="goodstype[]" value="004" data-cate-nm="시그니처">
                                            <span>#애견동반</span>
                                           
                                        </label>
                                        <label class="checkcontainer" for="category005">
                                            <input type="checkbox" id="category005" name="goodstype[]" value="005" data-cate-nm="시그니처">
                                            <span>#작업하기좋은</span>
                                            
                                        </label>
                                        <label class="checkcontainer" for="category006">
                                            <input type="checkbox" id="category006" name="goodstype[]" value="006" data-cate-nm="시그니처">
                                            <span>#루프탑</span>
                                            
                                        </label>
                                        <label class="checkcontainer" for="category007">
                                            <input type="checkbox" id="category007" name="goodstype[]" value="007" data-cate-nm="시그니처">
                                            <span>#야간영업</span>
                                            
                                        </label>
                                        <label class="checkcontainer" for="category008">
                                            <input type="checkbox" id="category008" name="goodstype[]" value="008" data-cate-nm="시그니처">
                                            <span>#테이크아웃</span>
                                            
                                        </label>
                                    </dd>
                                </dl>
                                <button class="btn_select_mot3">선택 카테고리</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
         <!-- Container End  -->
        
         <!-- Design Top Start -->
   
   
        <!-- Design Top End -->

         <!-- Container_list_line Start  -->
  
        <div class="container_list_line">          
            <div class="container_list_line_control">
                <span class="list_line_review">리뷰순</span>
                <span class="list_line_recent">최신순</span>
            </div>
        </div>  
   
          <!-- Container_pick_list_line End  -->

         <!-- Container_list_img Start  -->
        <div class="container_list_img">
            <div class="container_pick_list_img"></div>
        </div>
         <!-- Container_list_img End -->

       
        <!-- Cotainer_item_list Start  -->
   
        <div class="cotainer_item_list">
            
            <div class="container_item_cont">
                <div class="container_item_type">
                    <ul>
                        <li>
                            <div class="container_item_cont_list">
                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>

                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>

                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>
                            </div>

                            <!-- ---- -->
                            <div class="container_item_cont_list">
                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>

                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>

                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>
                            </div>

                            <!-- ------ -->

                            <div class="container_item_cont_list">
                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>

                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>

                                <div class="container_item_photo_box_01">
                                    <a href="#">
                                        <div class="mot01"></div>
                                    </a>
                                </div>
                                <div class="container_item_info_01"></div>
                            </div>
                            
                            
                               
                            
                        </li>
                    </ul>
                    <ul class="container_item_title_control">
                        <li class="container_item_info_title">
                            <span class="container_item_info_title01">분위기 좋은</span>
                            <span class="container_item_info_title02">분위기 좋은</span>
                            <span class="container_item_info_title03">분위기 좋은</span>
                        </li>
                    </ul>
                    <ul class="container_item_title_control_2">
                        <li class="container_item_info_title_2">
                            <span class="container_item_info_title01_2">분위기 좋은</span>
                            <span class="container_item_info_title02_2">분위기 좋은</span>
                            <span class="container_item_info_title03_2">분위기 좋은</span>
                        </li>
                    </ul>

                    <ul class="container_item_title_control_3">
                        <li class="container_item_info_title_3">
                            <span class="container_item_info_title01_3">분위기 좋은</span>
                            <span class="container_item_info_title02_3">분위기 좋은</span>
                            <span class="container_item_info_title03_3">분위기 좋은</span>
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>
      <footer class="footer">
        <div>Basic Board</div>
        <div>@ 2019 wonhui Park</div>
      </footer>
    
    </div>
</body>
</html>