{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/lists.css' %}">
<!-- Link Swiper's CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper/swiper-bundle.min.css"
/>
{% endblock %}
{% block script %}
<script src="{% static 'posts/js/lists.js' %}"></script>
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block content %}
<div id="container">
    <!-- tag -->
    <div class="tag-bg">
        <button class="all">
            전체
        </button>
        <section class="tag-wrap">
            <form id="tag-form" method="get" action="" class="tag-form">
                <div class="tag-box">
                    <input type="button" name="tag" value="직접로스팅하는">
                    <input type="button" name="tag" value="디저트가맛있는">
                    <input type="button" name="tag" value="늦게문닫는">
                    <input type="button" name="tag" value="작업하기좋은">
                    <input type="button" name="tag" value="반려동물동반">
                    <input type="button" name="tag" value="브런치카페">
                    <input type="button" name="tag" value="테라스가있는">
                    <input type="button" name="tag" value="주차가능한">
                </div>
            </form>
        </section>
        <p class="tag-text">
            * 카테고리 별로 중복체크가능
        </p>
    </div>
    <!-- !tag -->
    <!-- filter -->
    {% if cafes %}
    <div class="filter-bg">
        <section class="filter-wrap">
            <ul class="filter-list">
                {% for cafe in cafes %}
                <li class="filter-item">
                    <a href="{% url 'posts:detail' cafe.id %}" class="filter">
                        <div class="filter-content">
                            <div class="filter-img">
                                <!-- Swiper -->
                                <div class="swiper-container">
                                  <div class="swiper-wrapper">
                                    {% for img in cafe.image_set.all %}
                                      <div class="swiper-slide">
                                          <img src="{{ img.image.url }}">
                                      </div>
                                    {% endfor %}
                                  </div>
                                </div>
                                <!-- {% if cafe.image_set.first %}
                                <img src="{{ cafe.image_set.first.image.url }}">
                                {% else %}
                                <img src="{% static 'posts/images/logo-2.png' %}">
                                {% endif %} -->
                            </div>
                            <div class="filter-text">
                                {% if user.is_authenticated %}
                                    <div class="btn-wrap" data-cafe="{{ cafe.id }}">
                                        <span class="action-btn like-btn">
                                            {% if user in cafe.liked_users.all %}
                                                <img src="{% static 'posts/images/icon/liked.png' %}">
                                            {% else %}
                                                <img src="{% static 'posts/images/icon/like.png' %}">
                                            {% endif %}
                                        </span>
                                        
                                        <span class="action-btn btn mark-btn">
                                            {% if user in cafe.marked_users.all %}
                                                <img src="{% static 'posts/images/icon/marked.png' %}">
                                            {% else %}
                                                <img src="{% static 'posts/images/icon/mark.png' %}">
                                            {% endif %}
                                        </span>
                                    </div>
                                {% endif %}
                                <div class="info">
                                    <span>{{ cafe.name }}</span>
                                </div>
                                <div class="etc">
                                    {{ cafe.address }}
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".swiper-container", {
          slidesPerView: 'auto',
          // Optional parameters
          direction: 'horizontal',
          // loop: true,

      });
    </script>
    
    {% endif %}
    <!-- !filter -->
</div>

<li class="filter-item template">
    <a href="" class="filter">
        <div class="filter-content">
            <div class="filter-img">
                <!-- Swiper -->
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    {% for img in cafe.image_set.all %}
                      <div class="swiper-slide">
                          <img src="{{ img.image.url }}">
                      </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
            <div class="filter-text">
                {% if user.is_authenticated %}
                    <div class="btn-wrap">
                        <span class="action-btn like-btn">
                            {% if user in cafe.liked_users.all %}
                                <img src="{% static 'posts/images/icon/liked.png' %}">
                            {% else %}
                                <img src="{% static 'posts/images/icon/like.png' %}">
                            {% endif %}
                        </span>

                        <span class="action-btn btn mark-btn">
                            {% if user in cafe.marked_users.all %}
                                <img src="{% static 'posts/images/icon/marked.png' %}">
                            {% else %}
                                <img src="{% static 'posts/images/icon/mark.png' %}">
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
                <div class="info">
                    <span>{{ cafe.name }}</span>
                </div>
                <div class="etc">
                    {{ cafe.address }}
                </div>
            </div>
        </div>
    </a>
</li>
{% endblock %}