{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/lists.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'posts/js/lists.js' %}"></script>
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block content %}
<div id="container">
    <!-- tag -->
    <div class="tag-bg">
        <button class="all">
            전체
        </button>
        <section class="tag-wrap">
            <form id="tag-form" method="get" action="" class="tag-form">
                <div class="tag-box">
                    <input type="button" name="tag" value="직접로스팅하는">
                    <input type="button" name="tag" value="디저트가맛있는">
                    <input type="button" name="tag" value="늦게문닫는">
                    <input type="button" name="tag" value="작업하기좋은">
                    <input type="button" name="tag" value="반려동물동반">
                    <input type="button" name="tag" value="브런치카페">
                    <input type="button" name="tag" value="테라스가있는">
                    <input type="button" name="tag" value="주차가능한">
                </div>
            </form>
        </section>
        <p class="tag-text">
            * 카테고리 별로 중복체크가능
        </p>
    </div>
    <!-- !tag -->
    <!-- filter -->
    {% if cafes %}
    <div class="filter-bg">
        <section class="filter-wrap">
            <ul class="filter-list">
                {% for cafe in cafes %}
                <li class="filter-item">
                    <a href="{% url 'posts:detail' %}" class="filter">
                        <div class="filter-content">
                            <div class="filter-img">
                                {% if cafe.image_set.first %}
                                <img src="{{ cafe.image_set.first.image.url }}">
                                {% else %}
                                <img src="{% static 'posts/images/logo-2.png' %}">
                                {% endif %}
                            </div>
                            <div class="filter-text">
                                <div class="info">
                                    <span>{{ cafe.name }}</span>
                                </div>
                                <div class="etc">
                                    {{ cafe.address }}
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    {% endif %}
    <!-- !filter -->
</div>
{% endblock %}