{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'posts/css/login.css' %}">

    <title>Cofflix</title>

   

</head>
<body>
    <div class="top">
        <div class="logo_image">
            <img src="{% static 'posts/images/logo2.png' %}">
        </div>
    </div>
    <form class="form" autocomplete="off">
        <div class="center">
            <h1 class="title">로그인 및 회원가입</h1>
        <hr>
        <h5 class="desc">로그인을 통해 COFFLIX의 다양한 혜택을 누리세요.</h5>
        </div>
        <hr>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="전화번호 또는 이메일 입력" >
                
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호 입력">
            </div>
            <div class="form-group form-check check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">아이디 저장하기</label>
            </div>
            <button type="submit" class="btn btn-light btn-lg btn-block login-btn">로그인</button>
            <hr>
            <img class="kakao" src="{% static 'posts/images/kakoo.png' %}">
        
        
        
        </form>
</body>
</html>