{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/main.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'posts/js/main.js' %}"></script>
{% endblock %}
{% block content %}
<div id="container">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}
    <div class="activity-popup">
        <div class="activity-ready">
            <div class="ready-text">
                <p>
                    서비스 준비 중입니다.
                </p>
                <p class="ready-more">
                    빠른 시일 내에 준비하여 찾아뵙겠습니다.
                </p>
            </div>
            <div class="close-box">
                <button type="button" class="close-btn">
                    확인
                </button>
            </div>
        </div>
    </div>
	<div class="index-bg">
		<article class="main-wrap">
			<div class="main-content">
				<div class="main-text">
					<span>취향 선택을 통한
						카페 추천 서비스</span>
				</div>
			</div>
		</article>
	</div>
	<div class="filter-bg">
		<section class="filter-wrap">
			<ul class="filter-list">
				<li class="filter-item">
					<a href="javascript: void(0)" class="filter">
						<div class="filter-content">
							<div class="filter-img">
								<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
							</div>
							<div class="filter-text">
								<span>주차가능한</span>
							</div>
						</div>
					</a>
				</li>
				<li class="filter-item">
					<a href="javascript: void(0)" class="filter">
						<div class="filter-content">
							<div class="filter-img">
								<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
							</div>
							<div class="filter-text">
								<span>디카페인</span>
							</div>
						</div>
					</a>
				</li>
				<li class="filter-item">
					<a href="javascript: void(0)" class="filter">
						<div class="filter-content">
							<div class="filter-img">
								<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
							</div>
							<div class="filter-text">
								<span>브런치카페</span>
							</div>
						</div>
					</a>
				</li>
				<li class="filter-item">
					<a href="javascript: void(0)" class="filter">
						<div class="filter-content">
							<div class="filter-img">
								<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
							</div>
							<div class="filter-text">
								<span>분위기좋은</span>
							</div>
						</div>
					</a>
				</li>
				<li class="filter-item">
					<a href="javascript: void(0)" class="filter">
						<div class="filter-content">
							<div class="filter-img">
								<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
							</div>
							<div class="filter-text">
								<span>반려동물동반</span>
							</div>
						</div>
					</a>
				</li>
				<li class="filter-item">
					<a href="javascript: void(0)" class="filter">
						<div class="filter-content">
							<div class="filter-img">
								<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
							</div>
							<div class="filter-text">
								<span>작업하기좋은</span>
							</div>
						</div>
					</a>
				</li>
				<li class="filter-item">
					<a href="javascript: void(0)" class="filter">
						<div class="filter-content">
							<div class="filter-img">
								<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
							</div>
							<div class="filter-text">
								<span>늦게문닫는</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</section>
	</div>
	<div class="activity-bg">
		<section class="activity-wrap">
			<div class="activity-intro">
				<div class="intro-text">
					<h1>
						체험
					</h1>
					<span>
						전문가가 진행하고 모두 함께 즐기는 참여형 액티비티
					</span>
				</div>
				<div class="activity-link">
					<a href="">모두 둘러보기</a>
				</div>
			</div>
			<div class="activity-content">
				<div class="activity-box">
					<ul class="activity-list">
						<li class="activity-item">
							<a target="_blank" href="" class="activity">
								<div class="activity-img">
									<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
								</div>
								<div class="activity-text">
									<span>커피 만드는 법 배우기</span>
								</div>
							</a>
						</li>
						<li class="activity-item">
							<a target="_blank" href="" class="activity">
								<div class="activity-img">
									<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
								</div>
								<div class="activity-text">
									<span>원두 탐구</span>
								</div>
							</a>
						</li>
						<li class="activity-item">
							<a target="_blank" href="" class="activity">
								<div class="activity-img">
									<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg">
								</div>
								<div class="activity-text">
									<span>카페 구경하기</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}