{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cofflix</title>
    <link rel="stylesheet" href="{% static 'posts/style.css' %}" type="text/css" />
</head>
<body>
    <div class="multi">
        <h1>HYUNKI님 카페등록을<br>시작해볼까요?</h1>
        <h2>2단계<br>등록하려는 카페의 정보를 입력해주세요</h2>
        <p>카페이름</p>
        <input type="text" id="name" size="60">
        <p>카페설명</p>
        <textarea cols=60 rows=10 name="body"></textarea>
    </div>
    <br>
      <input type="submit" value="다음으로">
</body>
</html>